.user {
	display: flex;
	align-items: center;

	border: 3px solid #333;
	border-radius: 50px;

	img {
		width: 63px;
		height: 63px;
	}

	a {
		text-decoration: none;

		color: var(--color-white);
	}
}
