.playlists {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.title {
  font-size: var(--fs-big);
  font-weight: 700;
}