.track {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 20px 50px;

    cursor: pointer;

    border: 1px solid #333;
    border-radius: 50px;
    gap: 30px;

    .left {
        display: flex;
        align-items: center;
        gap: 40px;

        .position {
            width: 20px;

            font-weight: 500;
        }

        img {
            width: 60px;
            height: 60px;

            border-radius: 15px;
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 150px;
            height: 100%;
            gap: 10px;

            span:first-child {
                font-size: var(--fs-default);
                font-weight: 500;
            }

            span:last-child {
                color: #9ca3af;

                font-size: var(--fs-small);
                font-weight: 400;
            }
        }
    }

    .author {
        width: 350px;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 40px;

        svg {
            justify-self: flex-end;
        }
    }
}
