.nav {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 133px;
    height: 100vh;

    padding-top: 40px;

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #0b0b0b;
    gap: 52px;
}
