.album {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 30%;
}

.content {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 30px;

    border: 1px solid #333;
    border-radius: 25px;
    background: #0d0d0d;
    gap: 15px;

    img {
        width: 100%;

        border-radius: 25px;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h4 {
                margin-top: 10px;

                font-size: var(--fs-big);
            }

            span {
                font-size: var(--fs-small);
            }
        }

        img {
            width: 70px;

            cursor: pointer;
        }
    }
}
