.search {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 5px 25px;
  background-color: #1a1a1a;
  border: 2px solid #333333;
  border-radius: 50px;

  flex: 2;

  input {
    background-color: inherit;
    border: 0;
    outline: 0;
    height: 55px;
    width: 100%;

    color: var(--color-white);
    font-size: var(--fs-small);
    font-family: "Open Sans", sans-serif;
  }
}