html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
footer,
header,
nav {
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

:root {
    --fs-default: 1rem;
    --fs-big: 1.33rem;
    --fs-small: 0.88rem;
    --color-blue: #0364d7;
    --color-gray: #a0a0a0;
    --color-white: #fff;
    --color-black: #101010;
    --radius: 10px;
    --shadow: 0 2px 8px rgb(0 0 0 / 10%);
    --transition: all 0.1s ease-in-out;
    --border: 1px solid #dfe5ec;
    --form-control-color: rebeccapurple;
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    color: var(--color-white);
    background: var(--color-black);

    font-family: "Open Sans", sans-serif;
    font-size: var(--fs-default);
    line-height: 1;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--color-black);
}

body::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background-color: var(--color-blue);
}
